<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <title>Mobike OSM</title>
    <style type="text/css">
      body,html,#container{
        height: 100%;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <div id="container" tabindex="0"></div>
    <script src="/static/leaflet/leaflet.js"></script>
    <script src="https://raw.githubusercontent.com/leaflet-extras/leaflet-providers/master/leaflet-providers.js"></script>
    <script src="/static/osm.js"></script>
  </body>
</html>
